String EntertainmentBedroomTV { channel="harmonyhub:device:main:bedroomTV:buttonPress" }
String EntertainmentBedroomAppleTV { channel="harmonyhub:device:main:bedroomAppleTV:buttonPress" }
String EntertainmentBedroomDVR { channel="harmonyhub:device:main:bedroomDVR:buttonPress" }
