Bridge harmonyhub:hub:main [host="111.111.111.111", name="Harmony Hub Bedroom"] {
    device bedroomTV [name="Bedroom TV"]
    device bedroomAppleTV [name="Bedroom Apple TV"]
    device bedroomDVR [name="Bedroom DVR"]
}


