// General skill configuration
const skill = {
	serviceHost: '111.111.111.111',				// IP for web service that handles button commands. Use '111.111.111.111' for testing (supresses actual web service call).
	servicePort: 8080,							// Port for web service that handles button commands
	tv: 'EntertainmentBedroomTV',				// Input changes and mute commands are sent to this device
	tvMute: 'Mute',								// Command to mute TV. Specific command will depend on your remote control web service implementation. See Installation FAQ how to determine command.
	tvUnmute: 'Mute',							// Command to unmute TV. Typically same as tvMute, if command simply toggles mute state.
	defaultDevice: 'EntertainmentBedroomDVR'	// When the user starts a session all button commands are sent to this device id until the user switches to another device
};

// Mapping of button ids to device specific button commands
const device = {
	EntertainmentBedroomDVR:{
		buttons:{
			ChannelDown: 'ChannelDown',
			ChannelUp: 'ChannelUp',
			DirectionLeft: 'DirectionLeft',
			DirectionRight: 'DirectionRight',
			DirectionUp: 'DirectionUp',
			DirectionDown: 'DirectionDown',
			0: '0',
			1: '1',
			2: '2',
			3: '3',
			4: '4',
			5: '5',
			6: '6',
			7: '7',
			8: '8',
			9: '9',
			Exit: 'Exit',
			FastForward: 'FastForward',
			Guide: 'Guide',
			Info: 'Info',
			Back: 'Last',
			Menu: 'Menu',
			OK: 'OK',
			PageDown: 'PageDown',
			PageUp: 'PageUp',
			Pause: 'Pause',
			Play: 'Play',
			Rewind: 'Rewind',
			Stop: 'Stop',
			Record: 'Record',
			Replay: 'Replay',
			Xfinity: 'Xfinity'
		},
		input: 'InputHDMI1',
		name: 'DVR'
	},
	EntertainmentBedroomTV:{
		buttons:{
			DirectionLeft: 'DirectionLeft',
			DirectionRight: 'DirectionRight',
			DirectionUp: 'DirectionUp',
			DirectionDown: 'DirectionDown',
			Exit: 'Exit',
			OK: 'OK',
			Smart: 'Smart',
			Settings: 'Settings'
		},
		input: '',	// Leaving blank as there is no actual input change to control the tv itself (e.g. tv settings etc.)
		name: 'TV'
	},
	EntertainmentBedroomAppleTV:{
		buttons:{
			DirectionLeft: 'DirectionLeft',
			DirectionRight: 'DirectionRight',
			DirectionUp: 'DirectionUp',
			DirectionDown: 'DirectionDown',
			FastForward: 'FastForward',
			Home: 'Home',
			Back: 'Back',
			Menu: 'Menu',
			NextChapter: 'NextChapter',
			PreviousChapter: 'PreviousChapter',
			OK: 'Select',
			Pause: 'Pause',
			Play: 'Play',
			Rewind: 'Rewind',
			Stop: 'Stop',
		},
		input: 'InputHDMI2',
		name: 'Apple TV'
	}
};

exports.device = device;
exports.skill = skill;